@tailwind base;
@tailwind components;
@tailwind utilities;

/* Makes the animation pause on hover
.moving-text:hover {
  animation-play-state: paused;
}

/* The animation */
/* @keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-text {
  animation: marquee 15s linear infinite;
} */

.float {
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  background-color: #25d366;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 0.2rem;
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.img-holder {
  position: relative;
}
.img-holder span {
  position: absolute;
  right: 10px;
  top: 10px;
}
.resources-span {
  top: 20px;
}
